<!-- filters start here -->
<div class="bg-light paddingBottom-20">
<div class="container">

	<!-- intro description starts here -->
	<div class="container row text-secondary marginTop-5">
		<h6>Retrieve pathway genes from KEGG database</h6>
	</div>
	<!-- intro description starts here -->

	<!-- filter selection starts here -->
	<div class="container row">

		<!-- organism selection starts here -->
		<div class="marginRight-50 width-400">
			<h6>Choose Organism</h6>
			<ng-multiselect-dropdown	[placeholder] = "'Select Organism'"
										[data]        = "organismList"
										[(ngModel)]   = "selectedOrganism"
										[settings]    = "dropdownSettings1"
										(onSelect)    = "organismSelected($event)"
										(onDeSelect)  = "organismDeSelected($event)"
			>
			</ng-multiselect-dropdown>
		</div>
		<!-- organism selection ends here -->


		<!-- pathways selection starts here -->
		<div class="marginRight-50 width-400">
			<h6>Choose Pathway(s)</h6>
			<ng-multiselect-dropdown	[placeholder] = "'Select Pathways'"
										[data]        = "pathwayList"
										[(ngModel)]   = "selectedPathways"
										[settings]    = "dropdownSettings2"
										(onSelect)    = "pathwaySelected($event)"
										(onSelectAll) = "pathwaySelectedAll($event)"
			>
			</ng-multiselect-dropdown>
		</div>
		<!-- filter selection ends here -->


		<!-- button to get genes starts here -->
		<button (click)="fetchGenes()" type="button" class="btn btn-primary height-40 marginTop-25">
			Get Pathway Genes
		</button>
		<!-- button to get genes ends here -->

	</div>
	<!-- filter selection ends here -->

</div>
</div>
<!-- filters end here -->


<hr/>


<!-- table to show result starts here -->
<div class="container">
	<ng2-smart-table [settings]="tableSettings" [source]="geneData"></ng2-smart-table>
</div>
<!-- table to show result ends here -->


<!-- DO NOT REMOVE -->
<router-outlet></router-outlet>
