/* You can add global styles to this file, and also import other style files */
.marginTop-5 {
	margin-top: 5px;
}

.marginRight-50 {
	margin-right: 50px;
}

.width-400 {
	width: 400px;
}

.paddingBottom-20 {
	padding-bottom: 20px;
}

.height-40 {
	height: 40px;
}

.marginTop-25 {
	margin-top: 25px;
}

.paddingLeft-70 {
	padding-left: 70px;
}

hr {
	margin-top: 0px;
}

.navbar-brand {
	color: #91ff71 !important;
}

.bg-navbar {
	background-color: #504f5b;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
