/* You can add global styles to this file, and also import other style files */
.marginTop-5 {
	margin-top: 5px;
}

.marginRight-50 {
	margin-right: 50px;
}

.width-350 {
	width: 350px;
}

.paddingBottom-15 {
	padding-bottom: 15px;
}

.height-40 {
	height: 40px;
}

.marginTop-25 {
	margin-top: 25px;
}

.paddingLeft-70 {
	padding-left: 70px;
}
